@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --azul-primario: rgb(0, 72, 255); /* Azul brilhante, semelhante ao usado pelo Silvio Santos */
    --dourado: rgb(255, 215, 0); /* Dourado, para um toque de glamour */
    --branco: rgb(255, 255, 255); /* Branco para contraste e clareza */
    --cinza-escuro: rgb(33, 33, 33); /* Cinza escuro para textos e contrastes */
    --fonte-texto: "Playfair Display", serif;
    --fonte-titulo: "Bebas Neue", sans-serif;
}

body {
    background-color: var(--cinza-escuro); /* Fundo mais escuro para contrastar com as cores brilhantes */
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.caixa-principal {
    background-color: var(--azul-primario); /* Azul brilhante para a caixa principal */
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.titulo {
    color: var(--dourado); /* Dourado para o título */
    font-family: var(--fonte-titulo);
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background-color: var(--dourado); /* Dourado para os botões */
    color: var(--cinza-escuro); /* Texto dos botões em cinza escuro */
    border: none;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s;
    margin: 10px 10px;
    font-size: 1em;
}

button:hover {
    background-color: var(--azul-primario); /* Azul brilhante no hover */
    color: var(--dourado); /* Texto em dourado no hover */
}
